USE [ngunemay123_web_clb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/27/2023 6:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UID] [varchar](15) NULL,
	[FullName] [nvarchar](50) NULL,
	[Gender] [nvarchar](5) NULL,
	[Phone] [varchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Email] [varchar](256) NULL,
	[ImgUser] [varchar](100) NULL,
	[Major] [nvarchar](100) NULL,
	[Faculty] [nvarchar](50) NULL,
	[PositionID] [varchar](5) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillBorrow]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillBorrow](
	[BID] [varchar](50) NOT NULL,
	[SID] [varchar](50) NOT NULL,
	[BorrowDate] [datetime] NOT NULL,
	[ReturnDate] [datetime] NULL,
	[ReceiveDay] [datetime] NULL,
	[Note] [nvarchar](200) NULL,
	[SupplierID] [int] NOT NULL,
	[FeeShip] [float] NULL,
	[Total] [money] NULL,
	[Status] [int] NULL,
	[DepositPriceOnBill] [money] NULL,
	[FacilityId] [int] NOT NULL,
	[Phone] [varchar](11) NULL,
 CONSTRAINT [PK_BillBorrow] PRIMARY KEY CLUSTERED 
(
	[BID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowDetail]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowDetail](
	[BorrowDetailID] [varchar](50) NOT NULL,
	[BID] [varchar](50) NOT NULL,
	[DeviceID] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[price] [money] NOT NULL,
	[SubTotal] [money] NOT NULL,
	[ReturnQuantity] [int] NOT NULL,
	[QtyDamage] [int] NOT NULL,
	[DepositPrice] [money] NOT NULL,
 CONSTRAINT [PK_BorrowDetail] PRIMARY KEY CLUSTERED 
(
	[BorrowDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowRate]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowRate](
	[DeviceID] [varchar](50) NOT NULL,
	[UID] [varchar](50) NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_BorrowRate] PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC,
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryDevice]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryDevice](
	[CategoryID] [varchar](50) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[DeviceID] [varchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Describe] [nvarchar](200) NULL,
	[ImagePath] [varchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[CategoryID] [varchar](50) NOT NULL,
	[QtyBorrowed] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[BorrowRate] [int] NULL,
 CONSTRAINT [PK_Device] PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device_SheetPrice]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device_SheetPrice](
	[SheetPriceID] [nchar](10) NOT NULL,
	[Price] [float] NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[DeviceID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Device_SheetPrice] PRIMARY KEY CLUSTERED 
(
	[SheetPriceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount_Device]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount_Device](
	[DiscountDeviceID] [nchar](10) NOT NULL,
	[DeviceID] [varchar](50) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Percentage] [float] NOT NULL,
 CONSTRAINT [PK_Discount_Device] PRIMARY KEY CLUSTERED 
(
	[DiscountDeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryUpdate]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryUpdate](
	[BID] [varchar](50) NULL,
	[BorrowDetailID] [varchar](50) NULL,
	[UID] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[HistoryUpdateId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_HistoryUpdate] PRIMARY KEY CLUSTERED 
(
	[HistoryUpdateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoSoTuyenDung]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSoTuyenDung](
	[MaViTri] [int] IDENTITY(1,1) NOT NULL,
	[TenViTri] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HoSoTuyenDung] PRIMARY KEY CLUSTERED 
(
	[MaViTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDevice]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDevice](
	[OID] [nchar](10) NOT NULL,
	[SupplierName] [nvarchar](50) NOT NULL,
	[SupplierPhone] [nchar](11) NULL,
	[SupplierAddress] [nvarchar](100) NULL,
	[DateOrder] [date] NULL,
	[Total] [float] NOT NULL,
 CONSTRAINT [PK_OrderDevice] PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDeviceDetail]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDeviceDetail](
	[ODID] [nchar](10) NOT NULL,
	[OID] [nchar](10) NOT NULL,
	[DeviceID] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[SubTotal] [float] NOT NULL,
 CONSTRAINT [PK_OrderDeviceDetail] PRIMARY KEY CLUSTERED 
(
	[ODID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[PositionID] [varchar](5) NOT NULL,
	[PositionName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receiving_Facility]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receiving_Facility](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Receiving_Facility] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](20) NOT NULL,
	[SupplierPhone] [nchar](11) NULL,
	[SupplierAddress] [nvarchar](100) NOT NULL,
	[Room] [nchar](10) NULL,
 CONSTRAINT [PK_BillInformation] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[StudentID] [varchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NULL,
	[Phone] [varchar](50) NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Email] [varchar](50) NOT NULL,
	[Major] [nvarchar](100) NULL,
	[Faculty] [nvarchar](50) NULL,
	[ImgUser] [varchar](100) NULL,
	[PositionID] [varchar](5) NOT NULL,
	[Account] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuCauUngTuyen]    Script Date: 12/27/2023 6:53:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCauUngTuyen](
	[StudentID] [varchar](15) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Major] [nvarchar](100) NOT NULL,
	[Phone] [nchar](12) NOT NULL,
	[Gender] [nvarchar](5) NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Email] [varchar](100) NOT NULL,
	[Faculty] [nvarchar](100) NULL,
	[Position] [nvarchar](50) NOT NULL,
	[ReasonNote] [nvarchar](100) NOT NULL,
	[AdvantagesNote] [nvarchar](100) NOT NULL,
	[DisadvantagesNote] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231011135404_init', N'7.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231011143616_second', N'7.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231011154437_third', N'7.0.11')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'9ca8f496-7aa6-45cb-8581-a718f5b18ac1', N'Customer', N'CUSTOMER', N'2b195678-a0a8-4860-9145-91c63f93caaa')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'a503419c-231a-403e-bd0d-08f9d35aa6a9', N'Administrator', N'ADMINISTRATOR', N'140c6a5a-b855-4fde-922c-c965ab9f2e34')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'463e3cc6-06a2-457e-9236-5d0ed2b08bce', N'9ca8f496-7aa6-45cb-8581-a718f5b18ac1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'50a557dd-4fac-4ea1-b64a-d1e939256ce6', N'a503419c-231a-403e-bd0d-08f9d35aa6a9')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'50e9826c-8a16-4c39-887d-2318b7b306e6', N'9ca8f496-7aa6-45cb-8581-a718f5b18ac1')
GO
INSERT [dbo].[BillBorrow] ([BID], [SID], [BorrowDate], [ReturnDate], [ReceiveDay], [Note], [SupplierID], [FeeShip], [Total], [Status], [DepositPriceOnBill], [FacilityId], [Phone]) VALUES (N'MB2312001', N'22011127', CAST(N'2023-12-27T03:27:42.050' AS DateTime), NULL, CAST(N'2023-12-27T03:26:00.000' AS DateTime), N'', 1, NULL, NULL, 0, NULL, 1, N'0123456789')
INSERT [dbo].[BillBorrow] ([BID], [SID], [BorrowDate], [ReturnDate], [ReceiveDay], [Note], [SupplierID], [FeeShip], [Total], [Status], [DepositPriceOnBill], [FacilityId], [Phone]) VALUES (N'MB2312002', N'22011127', CAST(N'2023-12-27T03:29:14.120' AS DateTime), NULL, CAST(N'2023-12-27T03:29:00.000' AS DateTime), N'', 1, NULL, NULL, 0, NULL, 1, N'0123456789')
INSERT [dbo].[BillBorrow] ([BID], [SID], [BorrowDate], [ReturnDate], [ReceiveDay], [Note], [SupplierID], [FeeShip], [Total], [Status], [DepositPriceOnBill], [FacilityId], [Phone]) VALUES (N'MB2312003', N'22011127', CAST(N'2023-12-27T03:34:05.583' AS DateTime), NULL, CAST(N'2023-12-27T03:33:00.000' AS DateTime), N'', 1, NULL, NULL, 0, NULL, 1, N'0123456789')
GO
INSERT [dbo].[BorrowDetail] ([BorrowDetailID], [BID], [DeviceID], [Quantity], [price], [SubTotal], [ReturnQuantity], [QtyDamage], [DepositPrice]) VALUES (N'BD231122001', N'STU2311014', N'1', 2, 35.0000, 14.0000, 0, 0, 70.0000)
INSERT [dbo].[BorrowDetail] ([BorrowDetailID], [BID], [DeviceID], [Quantity], [price], [SubTotal], [ReturnQuantity], [QtyDamage], [DepositPrice]) VALUES (N'BD231122002', N'STU2311014', N'10', 1, 10.0000, 2.0000, 0, 0, 10.0000)
INSERT [dbo].[BorrowDetail] ([BorrowDetailID], [BID], [DeviceID], [Quantity], [price], [SubTotal], [ReturnQuantity], [QtyDamage], [DepositPrice]) VALUES (N'BD231122003', N'STU2311014', N'29', 1, 100.0000, 20.0000, 0, 0, 100.0000)
GO
INSERT [dbo].[BorrowRate] ([DeviceID], [UID], [Status]) VALUES (N'1', N'22112897', 1)
INSERT [dbo].[BorrowRate] ([DeviceID], [UID], [Status]) VALUES (N'10', N'22011127', 1)
INSERT [dbo].[BorrowRate] ([DeviceID], [UID], [Status]) VALUES (N'10', N'22112897', 1)
GO
INSERT [dbo].[CategoryDevice] ([CategoryID], [CategoryName]) VALUES (N'1', N'Cảm biến  ')
INSERT [dbo].[CategoryDevice] ([CategoryID], [CategoryName]) VALUES (N'2', N'Phần cứng ')
INSERT [dbo].[CategoryDevice] ([CategoryID], [CategoryName]) VALUES (N'3', N'Kết nối   ')
GO
INSERT [dbo].[Device] ([DeviceID], [Name], [Quantity], [Describe], [ImagePath], [Status], [CategoryID], [QtyBorrowed], [Price], [BorrowRate]) VALUES (N'1', N'Cảm Biến nhiệt độ DHT11', 16, NULL, N'dht11.jpg', 0, N'1', 3, 35.0000, 16)
INSERT [dbo].[Device] ([DeviceID], [Name], [Quantity], [Describe], [ImagePath], [Status], [CategoryID], [QtyBorrowed], [Price], [BorrowRate]) VALUES (N'10', N'Cảm biến mưa', 7, NULL, N'cam-bien-mua-5jdk.jpg', 1, N'1', 0, 10.0000, 13)
INSERT [dbo].[Device] ([DeviceID], [Name], [Quantity], [Describe], [ImagePath], [Status], [CategoryID], [QtyBorrowed], [Price], [BorrowRate]) VALUES (N'11    ', N'Cáp nối cái cái(15 sợi/tép)', 15, NULL, N'cap-cai-cai.jpg', 1, N'3', 0, 13.0000, 5)
GO
INSERT [dbo].[Device_SheetPrice] ([SheetPriceID], [Price], [StartDate], [EndDate], [DeviceID]) VALUES (N'1         ', 50, CAST(N'2023-08-01' AS Date), CAST(N'2023-08-31' AS Date), N'1         ')
GO
INSERT [dbo].[OrderDevice] ([OID], [SupplierName], [SupplierPhone], [SupplierAddress], [DateOrder], [Total]) VALUES (N'1         ', N'Chợ Nhật Tảo', N'00511133478', N'16 Lê Minh Huyền, Q.7', CAST(N'2023-04-08' AS Date), 128)
GO
INSERT [dbo].[OrderDeviceDetail] ([ODID], [OID], [DeviceID], [Quantity], [Price], [SubTotal]) VALUES (N'1         ', N'1         ', N'1         ', 5, 30, 150)
GO
INSERT [dbo].[Position] ([PositionID], [PositionName]) VALUES (N'MB', N'Member')
INSERT [dbo].[Position] ([PositionID], [PositionName]) VALUES (N'STU', N'Student')
INSERT [dbo].[Position] ([PositionID], [PositionName]) VALUES (N'TC', N'Teacher')
GO
SET IDENTITY_INSERT [dbo].[Receiving_Facility] ON 

INSERT [dbo].[Receiving_Facility] ([Id], [Name]) VALUES (1, N'Nguyễn Văn Tráng')
INSERT [dbo].[Receiving_Facility] ([Id], [Name]) VALUES (2, N'Thành Thái')
INSERT [dbo].[Receiving_Facility] ([Id], [Name]) VALUES (3, N'Cao Thắng')
SET IDENTITY_INSERT [dbo].[Receiving_Facility] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [SupplierPhone], [SupplierAddress], [Room]) VALUES (1, N'FlyBug Club', N'0522925104 ', N'7/1 Đ. Thành Thái, Phường 14, Quận 10,', NULL)
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
INSERT [dbo].[User] ([StudentID], [Name], [Gender], [Phone], [Address], [Email], [Major], [Faculty], [ImgUser], [PositionID], [Account]) VALUES (N'22011127', N'Nguyễn Quốc Duy', NULL, N'0123456789', N'Bình thạnh', N'duy.nq11127@sinhvien.hoasen.edu.vn', NULL, NULL, N'default_avatar.png', N'MB', NULL)
INSERT [dbo].[User] ([StudentID], [Name], [Gender], [Phone], [Address], [Email], [Major], [Faculty], [ImgUser], [PositionID], [Account]) VALUES (N'22014605', N'Nhựt', NULL, N'0111111111', N'Q. Bình Thạnh', N'nhut.lm14605@sinhvien.hoasen.edu.vn', NULL, NULL, N'default_avatar.png', N'STU', NULL)
INSERT [dbo].[User] ([StudentID], [Name], [Gender], [Phone], [Address], [Email], [Major], [Faculty], [ImgUser], [PositionID], [Account]) VALUES (N'22112897', N'Cuong', NULL, N'1241213', N'da241341', N'cuong.dq12897@sinhvien.hoasen.edu.vn', NULL, NULL, NULL, N'STU', NULL)
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BillBorrow]  WITH CHECK ADD  CONSTRAINT [FK_BillBorrow_Receiving_Facility] FOREIGN KEY([FacilityId])
REFERENCES [dbo].[Receiving_Facility] ([Id])
GO
ALTER TABLE [dbo].[BillBorrow] CHECK CONSTRAINT [FK_BillBorrow_Receiving_Facility]
GO
ALTER TABLE [dbo].[BillBorrow]  WITH CHECK ADD  CONSTRAINT [FK_BillBorrow_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[BillBorrow] CHECK CONSTRAINT [FK_BillBorrow_Supplier]
GO
ALTER TABLE [dbo].[BillBorrow]  WITH CHECK ADD  CONSTRAINT [FK_BillBorrow_User1] FOREIGN KEY([SID])
REFERENCES [dbo].[User] ([StudentID])
GO
ALTER TABLE [dbo].[BillBorrow] CHECK CONSTRAINT [FK_BillBorrow_User1]
GO
ALTER TABLE [dbo].[BorrowDetail]  WITH CHECK ADD  CONSTRAINT [FK_BorrowDetail_BillBorrow] FOREIGN KEY([BID])
REFERENCES [dbo].[BillBorrow] ([BID])
GO
ALTER TABLE [dbo].[BorrowDetail] CHECK CONSTRAINT [FK_BorrowDetail_BillBorrow]
GO
ALTER TABLE [dbo].[BorrowDetail]  WITH CHECK ADD  CONSTRAINT [FK_BorrowDetail_Device] FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Device] ([DeviceID])
GO
ALTER TABLE [dbo].[BorrowDetail] CHECK CONSTRAINT [FK_BorrowDetail_Device]
GO
ALTER TABLE [dbo].[BorrowRate]  WITH CHECK ADD  CONSTRAINT [FK_BorrowRate_Device] FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Device] ([DeviceID])
GO
ALTER TABLE [dbo].[BorrowRate] CHECK CONSTRAINT [FK_BorrowRate_Device]
GO
ALTER TABLE [dbo].[BorrowRate]  WITH CHECK ADD  CONSTRAINT [FK_BorrowRate_User] FOREIGN KEY([UID])
REFERENCES [dbo].[User] ([StudentID])
GO
ALTER TABLE [dbo].[BorrowRate] CHECK CONSTRAINT [FK_BorrowRate_User]
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD  CONSTRAINT [FK_Device_CategoryDevice] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CategoryDevice] ([CategoryID])
GO
ALTER TABLE [dbo].[Device] CHECK CONSTRAINT [FK_Device_CategoryDevice]
GO
ALTER TABLE [dbo].[Device_SheetPrice]  WITH CHECK ADD  CONSTRAINT [FK_Device_SheetPrice_Device] FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Device] ([DeviceID])
GO
ALTER TABLE [dbo].[Device_SheetPrice] CHECK CONSTRAINT [FK_Device_SheetPrice_Device]
GO
ALTER TABLE [dbo].[Discount_Device]  WITH CHECK ADD  CONSTRAINT [FK_Discount_Device_Device] FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Device] ([DeviceID])
GO
ALTER TABLE [dbo].[Discount_Device] CHECK CONSTRAINT [FK_Discount_Device_Device]
GO
ALTER TABLE [dbo].[HistoryUpdate]  WITH CHECK ADD  CONSTRAINT [FK_HistoryUpdate_BillBorrow] FOREIGN KEY([BID])
REFERENCES [dbo].[BillBorrow] ([BID])
GO
ALTER TABLE [dbo].[HistoryUpdate] CHECK CONSTRAINT [FK_HistoryUpdate_BillBorrow]
GO
ALTER TABLE [dbo].[HistoryUpdate]  WITH CHECK ADD  CONSTRAINT [FK_HistoryUpdate_BorrowDetail] FOREIGN KEY([BorrowDetailID])
REFERENCES [dbo].[BorrowDetail] ([BorrowDetailID])
GO
ALTER TABLE [dbo].[HistoryUpdate] CHECK CONSTRAINT [FK_HistoryUpdate_BorrowDetail]
GO
ALTER TABLE [dbo].[HistoryUpdate]  WITH CHECK ADD  CONSTRAINT [FK_HistoryUpdate_User] FOREIGN KEY([UID])
REFERENCES [dbo].[User] ([StudentID])
GO
ALTER TABLE [dbo].[HistoryUpdate] CHECK CONSTRAINT [FK_HistoryUpdate_User]
GO
ALTER TABLE [dbo].[OrderDeviceDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDeviceDetail_Device] FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Device] ([DeviceID])
GO
ALTER TABLE [dbo].[OrderDeviceDetail] CHECK CONSTRAINT [FK_OrderDeviceDetail_Device]
GO
ALTER TABLE [dbo].[OrderDeviceDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDeviceDetail_OrderDevice] FOREIGN KEY([OID])
REFERENCES [dbo].[OrderDevice] ([OID])
GO
ALTER TABLE [dbo].[OrderDeviceDetail] CHECK CONSTRAINT [FK_OrderDeviceDetail_OrderDevice]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Position] FOREIGN KEY([PositionID])
REFERENCES [dbo].[Position] ([PositionID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Position]
GO
