@{
    Layout = "~/Views/Shared/_LayoutDashboardUser.cshtml";
}

<h2 class="title-favorite">Đổi Mật Khẩu</h2>
<hr style="width:100%;text-align:left;margin-left:0; color:white; height: 2px; margin-top: 8px;">
<div class="wrap-info-user">
    <div class="full-screen">
        <div>
            <div>
                <form class="form-change-pass" action="/Account/EnterChangePassword" method="post">
                    <table class="change-pass">
                        <tr>
                            <th>Mật khẩu cũ</th>
                            <td><input type="password" name="oldPassword" value="@ViewBag.ValueOldPassword" /></td>
                        </tr>
                        <tr>
                            <th>Mật khẩu mới</th>
                            <td><input type="password" name="newPassword" value="@ViewBag.ValueNewPassword" /></td>
                        </tr>
                        <tr>
                            <th>Xác nhận mật khẩu</th>
                            <td><input type="password" name="confirmPassword" value="@ViewBag.ValueConformPassword" /></td>
                        </tr>
                    </table>
                    <div class="center btn-change">
                        <button type="submit">Đổi mật khẩu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

