@{
    Layout = "~/Views/Shared/_LayoutDashboardUser.cshtml";
}

<h2 class="title-favorite">Sản phẩm yêu thích</h2>
<hr style="width:100%;text-align:left;margin-left:0; color:white; height: 2px; margin-top: 8px;">
<div class="container">
    <div class="item-store">
        <div class="row">
            <div class="col col-xl-4">
                <div class="item-card">
                    <a id="productLink" asp-controller="Store" asp-action="DetailCard" asp-route-Id="">
                        <img src="~/img/img_products/8ICG.jpg" alt="Photo item store">
                        <h3>ABC</h3>
                        <p>Lorem ipsum dolor sit amet consectetur praesentium?</p>
                        <div class="center icon-card">
                            <button class="icon icon-love" data-index="" asp-route-id="" onclick="handleButtonClick(this)">
                                <a href="#" title="Yêu thích">
                                    <i class="fa-solid fa-heart"></i>
                                </a>
                            </button>
                            <button class="icon icon-share">
                                <a asp-controller="Store" asp-action="AddToCard" asp-route-id="" title="Bỏ giỏ">
                                    <i class="fa-solid fa-cart-plus"></i>
                                </a>
                            </button>
                        </div>
                        <div class="center item-price">
                            <h2>200.000 VNĐ</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
