@{
    Layout = "~/Views/Shared/_LayoutDashboardUser.cshtml";
}

<div class="wrap-info-user">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="avatar">
                    <img src="~/img/core_team/IMG_0042.jpg" alt="avatar"/>
                </div>
            </div>
            <div class="col-md-9">
                <h2>Hello</h2>
                <h3>Nguyễn Quốc Duy</h3>
                <h4>Welcome to FlyBug Club Website</h4>
                <hr />
                <div>

                </div>
            </div>
        </div>
    </div>
</div>
