@model List<FlyBugClub_WebApp.Models.BillBorrow>
<div class="center">
    
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src = "~/js/datepicker.js"></script>
<div class="body">
    <section class="dashboard">
        <div class="container">
            <div class="row">
                <div class="col col-md-4">
                    <div class="income tagtop">
                        <div class="center title">
                            <div class="title-header">
                                <div class="icon-title">
                                    <img src="~/img/img_icon/income.png" alt="">
                                    <span><b>Income</b></span>
                                </div>
                                <div>
                                    <a href="#" class="link"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="money">
                            <span class="unit">đ/<sup>year</sup></span>
                            <span class="money">@ViewBag.TotalAmount.ToString("0.000")</span>
                        </div>
                        <div class="note">
                            <p><span><i class="fa-solid fa-sort-up"></i>14%</span>form yesterday</p>
                        </div>
                    </div>

                </div>
                <div class="col col-md-4">
                    <div class="income tagtop">
                        <div class="center title">
                            <div class="title-header">
                                <div class="icon-title">
                                    <img src="~/img/img_icon/sales.png" alt="">
                                    <span><b>Sales</b></span>
                                </div>
                                <div>
                                    <a asp-area="Admin" asp-controller="OrderProcessing" asp-action="Bill" class="link"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="money">
                            <span class="unit"></span>
                            <span class="money">@ViewBag.TotalQuantity</span>
                        </div>
                        <div class="note">
                            <p><span><i class="fa-solid fa-sort-up"></i>14%</span>form yesterday</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="income tagtop">
                        <div class="center title">
                            <div class="title-header">
                                <div class="icon-title">
                                    <img src="~/img/img_icon/web-visit.png" alt="">
                                    <span><b>Total bill</b></span>
                                </div>
                                <div>
                                    <a href="#" class="link"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="money">
                            <span class="unit"></span>
                            <span class="money">@ViewBag.countTrue</span>
                        </div>
                        <div class="note">
                            <p><span><i class="fa-solid fa-sort-up"></i>14%</span>form yesterday</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-8">
                    <div class="info-sales">
                        <div class="head-income">
                            <h5>Fanacial</h5>
                            <form>
                                <div class="datepicker">
                                    <i class="fa-solid fa-calendar"></i>
                                    <input type="text" name="daterange" value="" class="" id="cuong" readonly/>
                                </div>
                            </form>
                        </div>
                        <form action="" class="income-form">
                            <div class="table-container">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="stt">#</th>
                                            <th class="date">Date</th>
                                            <th>Income</th>
                                        </tr>
                                    </thead>
                                    <tbody id="list_billborrow"></tbody>
                                </table>
                            </div>
                        </form>
                        <div class="total-income">
                            <div class="total">
                                <div><b>Total income</b></div>
                                <div><b id="TotalIncome" class="amount"></b></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="row">
                        <div class="col">
                            <div class="calendar">
                                <div class="top-calendar">
                                    <div class="month-year"id="current-month-year">September 2022</div>
                                    <div class="icon-next-prev" id="month-year">
                                        <ul>
                                            <li><i class="fa-solid fa-angle-left" id="prev-month"></i></li>
                                            <li><i class="fa-solid fa-angle-right" id="next-month"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="weekdays">
                                    <li>Mo</li>
                                    <li>Tu</li>
                                    <li>We</li>
                                    <li>Th</li>
                                    <li>Fr</li>
                                    <li>Sa</li>
                                    <li>Su</li>
                                </ul>
                                <ul class="days" id="calendar-days">
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                    <li>6</li>
                                    <li>7</li>
                                    <li>8</li>
                                    <li>9</li>
                                    <li><span class="active">10</span></li>
                                    <li>11</li>
                                    <li>12</li>
                                    <li>13</li>
                                    <li>14</li>
                                    <li>15</li>
                                    <li>16</li>
                                    <li>17</li>
                                    <li><span class="event">18</span></li>
                                    <li>19</li>
                                    <li>20</li>
                                    <li>21</li>
                                    <li>22</li>
                                    <li><span class="event">23</span></li>
                                    <li>24</li>
                                    <li>25</li>
                                    <li>26</li>
                                    <li>27</li>
                                    <li>28</li>
                                    <li>29</li>
                                    <li>30</li>
                                    <li>31</li>
                                </ul>
                                <div class="schedules">
                                    <div class="schedules-title">Schedules</div>
                                    <div class="schedule-wrap">
                                        <div class="schedule-box">
                                            <div class="center">
                                                <div class="schedule-day"><b class="random-background">23</b></div>
                                                <div class="schedule-content">
                                                    <p class="content">Nguyễn Văn A created an order</p>
                                                    <p class="time">14:00 - 16:00 at Thanh Thai</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="schedule-wrap">
                                        <div class="schedule-box">
                                            <div class="center">
                                                <div class="schedule-day"><b class="random-background"><span class="number">18</span></b></div>
                                                <div class="schedule-content">
                                                    <p class="content">Nguyễn Văn A created an order</p>
                                                    <p class="time">09:00 - 11:00 at Thanh Thai</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="schedule-wrap">
                                        <div class="schedule-box">
                                            <div class="center">
                                                <div class="schedule-day"><b class="random-background">18</b></div>
                                                <div class="schedule-content">
                                                    <p class="content">Nguyễn Văn A created an order</p>
                                                    <p class="time">09:00 - 11:00 at Thanh Thai</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
 <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Mảng màu nền ngẫu nhiên
        const randomBackgroundColors = [
            "#ffcdb2", "#ffcdb2", "#e5989b", "#f2e8cf", "#a7c957", "#edf6f9", "#ffddd2", "#e29578",
            "#fca311", "#f2e9e4", "#caf0f8", "#90e0ef", "#ffb3c1", "#ffb5a7", "#fec89a", "#f8edeb",
            "#ffe8d6", "#b7b7a4", "#efd3d7", "#eff7f6", "#b2f7ef", "#ffdab9", "#b8b8ff", "#ffeedd"
        ];

        // Chọn một màu ngẫu nhiên cho mỗi phần tử <b>
        const randomBackgroundElements = document.querySelectorAll(".random-background");

        randomBackgroundElements.forEach(function (element) {
            const randomColor = randomBackgroundColors[Math.floor(Math.random() * randomBackgroundColors.length)];
            element.style.background = randomColor;
        });
    });
 </script>
    
<script>
    //2023-10-29@@2023-11-11
    // const date = new Date();

    // var DateStart = date.getFullYear+"-"+date.getMonth()+"1";
    // var DateEnd = date.getFullYear + "-" + date.getMonth() + "31";
    // var Final = DateStart + "@@" + DateEnd;
    // alert(date.getFullYear);
    
    document.getElementById('cuong').onchange = function () {
        
        let date = document.getElementById("cuong").className;
        
        if(date !== null)
        {
            
            fetchData(date);
        }  
    };
    async function fetchData(date) {
        const response = await fetch(`/api/users/getbillbydate?date=${date}`);
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }

        const data = await response.json(); // Chuyển đổi response thành JSON
        console.log(data);
        // Ở đây, bạn có thể xử lý dữ liệu theo cách mong muốn
        const tbody = document.getElementById("list_billborrow");
        
        // Xóa nội dung cũ của tbody
        while (tbody.firstChild) {
            tbody.removeChild(tbody.firstChild);
        }
        var Sum = 0;
       
        data.forEach((item, i) => {
            const receiveDay = new Date(item.receiveDay);
            const status = item.status;
            const convertedValue = parseFloat(item.total) * 1000;
            Sum = Sum + convertedValue;
            const formattedValue = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'VND',
                minimumFractionDigits: 0,
                maximumFractionDigits: 0,
            }).format(convertedValue);

            const newRow = document.createElement("tr");
            newRow.innerHTML = `
            <td>${i+1}</td>
            <td>${receiveDay.toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' })}</td>
            <td>${formattedValue}</td>
        `;
            tbody.appendChild(newRow);
           
        });
        const formattedSum = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'VND',
            minimumFractionDigits: 0,
            maximumFractionDigits: 0,
        }).format(Sum);
        const TotalIncome = document.getElementById("TotalIncome");

        TotalIncome.innerHTML = formattedSum;
    }
</script>

<script>
    function getDaysInMonth(year, month) {
        // Lưu ý: Tháng trong JavaScript đếm từ 0 đến 11 (0 là tháng 1, 11 là tháng 12)
        // Nếu month không được chỉ định, nó sẽ lấy tháng hiện tại
        const lastDay = new Date(year, month + 1, 0).getDate();
        return lastDay;
    }

    // Lấy ngày, tháng và năm hiện tại
    let currentDate = new Date();
    let currentYear = currentDate.getFullYear();
    let currentMonth = currentDate.getMonth();
    let daysInCurrentMonth = getDaysInMonth(currentYear, currentMonth);

    console.log(`Số ngày trong tháng hiện tại: ${daysInCurrentMonth}`);

    // Hàm cập nhật ngày trong tháng
    function updateCalendar() {
        const firstDayOfMonth = new Date(currentYear, currentMonth, 1).getDay();

        // Vị trí bắt đầu của các ngày trong tuần
        const startDayPosition = firstDayOfMonth === 0 ? 6 : firstDayOfMonth - 1;

        // Đối tượng HTML của ul#calendar-days
        const calendarDaysElement = document.getElementById('calendar-days');

        // Xóa các phần tử con cũ của ul#calendar-days
        calendarDaysElement.innerHTML = '';

        // Thêm các thẻ li vào ul#calendar-days
        for (let i = 0; i < startDayPosition; i++) {
            const emptyLi = document.createElement('li');
            calendarDaysElement.appendChild(emptyLi);
        }

        for (let i = 1; i <= daysInCurrentMonth; i++) {
            const dayLi = document.createElement('li');
            dayLi.textContent = i;

            // Nếu đây là ngày hiện tại, bạn có thể thêm một lớp CSS để làm nổi bật
            if (i === new Date().getDate() && currentMonth === new Date().getMonth() && currentYear === new Date().getFullYear()) {
                dayLi.classList.add('active');
            }

            // Thêm các logic khác tùy thuộc vào yêu cầu của bạn (ví dụ: xác định ngày có sự kiện)

            calendarDaysElement.appendChild(dayLi);
        }
    }

    function updateMonthYearDisplay() {
        const monthNames = [
            'January', 'February', 'March', 'April', 'May', 'June',
            'July', 'August', 'September', 'October', 'November', 'December'
        ];

        // Lấy tên tháng tương ứng với currentMonth
        const currentMonthName = monthNames[currentMonth];

        // Hiển thị tháng và năm trong thẻ có id là "current-month-year"
        document.getElementById('current-month-year').textContent = `${currentMonthName} ${currentYear}`;
    }

    // Sự kiện nhấn cho nút "prev-month"
    document.getElementById('prev-month').addEventListener('click', function () {
        // Giảm tháng đi 1
        currentMonth--;
        // Nếu tháng là tháng 0 (tháng 1), cập nhật năm và tháng về tháng 12 của năm trước
        if (currentMonth < 0) {
            currentMonth = 11;
            currentYear--;
        }
        // Cập nhật lịch
        updateCalendar();
    });

    // Sự kiện nhấn cho nút "next-month"
    document.getElementById('next-month').addEventListener('click', function () {
        // Tăng tháng đi 1
        currentMonth++;
        // Nếu tháng là tháng 11 (tháng 12), cập nhật năm và tháng về tháng 1 của năm sau
        if (currentMonth > 11) {
            currentMonth = 0;
            currentYear++;
        }
        // Cập nhật lịch
        updateCalendar();
    });

    // Khởi tạo lịch khi trang được tải lần đầu
    updateCalendar();
    updateMonthYearDisplay();
</script>


