<div class="center">
    
</div>

<div class="body">
    <section class="dashboard">
        <div class="container">
            <div class="row">
                <div class="col col-md-4">
                    <div class="income tagtop">
                        <div class="center title">
                            <div class="title-header">
                                <div class="icon-title">
                                    <img src="~/img/img_icon/income.png" alt="">
                                    <span><b>Income</b></span>
                                </div>
                                <div>
                                    <a href="#" class="link"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="money">
                            <span class="unit">đ/<sup>year</sup></span>
                            <span class="money">@ViewBag.TotalAmount.ToString("0.000")</span>
                        </div>
                        <div class="note">
                            <p><span><i class="fa-solid fa-sort-up"></i>14%</span>form yesterday</p>
                        </div>
                    </div>

                </div>
                <div class="col col-md-4">
                    <div class="income tagtop">
                        <div class="center title">
                            <div class="title-header">
                                <div class="icon-title">
                                    <img src="~/img/img_icon/sales.png" alt="">
                                    <span><b>Sales</b></span>
                                </div>
                                <div>
                                    <a asp-area="Admin" asp-controller="OrderProcessing" asp-action="Bill" class="link"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="money">
                            <span class="unit"></span>
                            <span class="money">@ViewBag.TotalQuantity</span>
                        </div>
                        <div class="note">
                            <p><span><i class="fa-solid fa-sort-up"></i>14%</span>form yesterday</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="income tagtop">
                        <div class="center title">
                            <div class="title-header">
                                <div class="icon-title">
                                    <img src="~/img/img_icon/web-visit.png" alt="">
                                    <span><b>Total bill</b></span>
                                </div>
                                <div>
                                    <a href="#" class="link"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="money">
                            <span class="unit"></span>
                            <span class="money">@ViewBag.countTrue</span>
                        </div>
                        <div class="note">
                            <p><span><i class="fa-solid fa-sort-up"></i>14%</span>form yesterday</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-8">
                    <div class="info-sales">
                        <h5>Fanacial</h5>
                        <form action="" class="income-form">
                            <div class="table-container">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="date">Date</th>
                                            <th class="income">Salary</th>
                                            <th>Payment</th>
                                            <th>Income</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>10/07/2023</td>
                                            <td>1.490.000 đ</td>
                                            <td>100.000 đ</td>
                                            <td>1.390.000 đ</td>
                                        </tr>
                                        <tr>
                                            <td>10/07/2023</td>
                                            <td>1.490.000 đ</td>
                                            <td>100.000 đ</td>
                                            <td>1.390.000 đ</td>
                                        </tr>
                                        <tr>
                                            <td>10/07/2023</td>
                                            <td>1.490.000 đ</td>
                                            <td>100.000 đ</td>
                                            <td>1.390.000 đ</td>
                                        </tr>
                                        <tr>
                                            <td>10/07/2023</td>
                                            <td>1.490.000 đ</td>
                                            <td>100.000 đ</td>
                                            <td>1.390.000 đ</td>
                                        </tr>
                                        <tr>
                                            <td>10/07/2023</td>
                                            <td>1.490.000 đ</td>
                                            <td>100.000 đ</td>
                                            <td>1.390.000 đ</td>
                                        </tr>
                                        <tr>
                                            <td>10/07/2023</td>
                                            <td>1.490.000 đ</td>
                                            <td>100.000 đ</td>
                                            <td>1.390.000 đ</td>
                                        </tr>
                                        <tr>
                                            <td>10/07/2023</td>
                                            <td>1.490.000 đ</td>
                                            <td>100.000 đ</td>
                                            <td>1.390.000 đ</td>
                                        </tr>
                                        <tr>
                                            <td>10/07/2023</td>
                                            <td>1.490.000 đ</td>
                                            <td>100.000 đ</td>
                                            <td>1.390.000 đ</td>
                                        </tr>
                                        <tr>
                                            <td>10/07/2023</td>
                                            <td>1.490.000 đ</td>
                                            <td>100.000 đ</td>
                                            <td>1.390.000 đ</td>
                                        </tr>
                                        <tr>
                                            <td>10/07/2023</td>
                                            <td>1.490.000 đ</td>
                                            <td>100.000 đ</td>
                                            <td>1.390.000 đ</td>
                                        </tr>
                                        <tr>
                                            <td>10/07/2023</td>
                                            <td>1.490.000 đ</td>
                                            <td>100.000 đ</td>
                                            <td>1.390.000 đ</td>
                                        </tr>
                                        <tr>
                                            <td>10/07/2023</td>
                                            <td>1.490.000 đ</td>
                                            <td>100.000 đ</td>
                                            <td>1.390.000 đ</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="calender-aera">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section></section>
</div>
