/* =============================== */
/* ========= BILL BORROW ========= */
/* =============================== */

.w93 {
    width: 93% !important;
}

.text-yellow {
    color: #c7ac2f;
}

.text-green {
    color: #39b230;
}

.text-purple {
    color: #8734d0;
}

.word-left{
    text-align:left !important;
}

.word-right {
    text-align: right;
}

.word-center {
    text-align: center;
}

.expandable-row {
    display: none;
}

.function-bill{
    margin-bottom: 12px;
}

.function-bill .top-box{
    display: flex;
    justify-content: space-between;
}

.function-bill .count {
    width: fit-content;
    background: #012a4a;
    margin-bottom: 20px;
    padding: 2px 10px;
    border: 3px solid ; 
    border-radius: 12px;
}

.function-bill .count p{
    color: #fff;
    font-weight: 700;
    margin: 0;
}

.function-bill .count p span{
    font-size: 18px !important;
    font-weight: 700;
}

.function-bill .top-box .combobox{
    margin: 5px 10px;
}

.combobox select{
    width: 130px;
    padding: 2px 4px;
    border: 2px solid #000;
    border-radius: 4px;
}


.bill-table {
    width: 100%;
}

.bill-table th,td{
    text-align:center;
}

.bill-table tbody.parent-body tr:hover td.outsite-info{
    background: #e5e5e5;
}

.bill-table th{
    padding-bottom: 5px;
}

.bill-table td{
    height: 45px;
    border-top: 1px solid ;
    /*border: 2px solid #ffd800;*/
}

.bill-table th.date{
    max-width: 200px;
}

.bill-table tbody.parent-body td.bid{
    width: 60px;
}

.bill-table tbody.parent-body td.name{
    max-width: 230px;
    width:fit-content;
    padding: 0 20px;
}

.bill-table tbody.parent-body td.sid{
    padding: 0 10px;
}

.bill-table tbody.parent-body td.note{
    max-width: 90px;
}

.bill-table tbody.parent-body td.status-bill{
    width: 100px;
    padding: 0 20px;
}

.wrap-status{
    padding: 3px 8px;
    text-align:center;
    border: none;
    border-radius:12px;
}

span.yellow {
    background: #c7ac2f;
}

span.purple {
    background: #9544dc;
}

span.green{
    background: #39b230;
}

.bill-table tbody.parent-body td.money-total{
    text-align:right;
}

.bill-table tbody.parent-body td.active-function{
    padding: 0 5px;
}

.max-word {
    max-width: 100%;
    white-space: nowrap; /* Ngăn ngừng xuống dòng */
    overflow: hidden; /* Ẩn nội dung vượt quá độ rộng */
    text-overflow: ellipsis; /* Hiển thị dấu "..." cho nội dung bị ẩn */
}

.bill-table tbody .detail .child{
    border: none;
}

    .bill-table tbody .detail .child-table {
        width: 100% !important;
        background: #ebebeb;
        border-radius: 12px;
    }

.bill-table tbody .detail .child-table td,th{
    border: none !important;
}

.bill-table tbody .detail .child-table th{
    padding-top: 5px;
}

.bill-table .detail-info .child-table tbody tr:hover td{
    background: #dbdbbd;
}

/* =============================== */
/* ======== QTY OF STATUS ======== */
/* =============================== */

.wrap-number{
    background: #012a4a;
    padding: 10px 5px;
    border: none;
    border-radius: 24px;

}

.QtyofStatus{
    margin-bottom: 12px;
}

.QtyofStatus h3, h4 {
    text-align: center;
}

.QtyofStatus h4 {
    color: #fff;
}

.QtyofStatus h3{
    margin-top: 15px;
    font-size: 92px;
}

.QtyofStatus h3.waiting{
    color:#e8ce57;
}

.QtyofStatus h3.borrowing {
    color: #8734d0;
}

/* =============================== */
/* ======== HISTORY UPDATE ======= */
/* =============================== */

.wrap-histoty{
    background: #eee;
    margin: 10px 0;
    padding: 5px 7px;
    border:none;
    border-radius: 6px
}

.wrap-histoty .top-box{
    width: fit-content;
    display: flex;
    margin: 2px 5px 8px 2px;
    padding: 0 5px;
    /*border-bottom: 4px #012a4a solid;*/
    border-radius: 6px;
}

.wrap-histoty .top-box i {
    font-size: 12px;
    margin: auto 5px auto 2px;
}

.wrap-histoty .top-box .time-update{
    font-size: 12px;
    margin: auto 5px auto 2px;
}

.wrap-histoty .content-update{
    cursor: default;
}

.wrap-histoty .content-update b{
    color: #012a4a;
    padding: 1px;
    background: #dedede;
    cursor: default;
    /*border-bottom: 2px solid #012a4a;*/
}