* a{
    color: #333 !important;
}

/* =============================== */
/* ====== BUTTON NEW DEVICE ====== */
/* =============================== */

.device-area .btn-newDevice{
    display: flex;
    justify-content: space-between;
}

.device-area .btn-newDevice h3{
    margin-top: 8px;
    margin-left: 20px;
}

.device-area .btn-newDevice button{
    background: #124f7e;
    padding: 8px 0;
    margin: 5px 30px 25px 30px;
    border:none;
    color:#fff;
    border-radius: 12px;
}

.device-area .btn-newDevice button a.newDevice{
    color:#fff !important;
    padding: 10px 12px;
}

.device-area .btn-newDevice button i{
    margin: auto 0;
    color:#fff;
    padding: 5px 5px;
}

/* =============================== */
/* ========= TABLE DEVICE ======== */
/* ============================== */

.table-device tr:nth-child(even) {
    background-color: rgba(167, 199, 231, 0.3) !important;
}

.device-area {
    width: 80%;
    background: #fff;
    padding: 20px;
    border: none;
    border-radius: 24px;
}

.table-device {
    width: 100%;
    /*border: 2px solid #ffd800;*/
}

.table-device thead th{
    height: 50px;
    background: #000;
    color: #fff;
}

.table-device thead th:nth-child(1){
    border-top-left-radius: 16px;
}

.table-device thead th:nth-child(9){
    border-top-right-radius: 16px;
}

.table-device th,td{
    text-align:center;
    /*border: 2px solid #ffd800*/
}

.table-device tbody tr:hover td{
   background-color: rgba(250, 200, 152,0.7);
}

.table-device td{
    text-align:center;
    /*border: 2px solid #ffd800;*/
    /*background: #dbdbdb;*/
}

.table-device tbody .image-device{
    width: 160px;
}

.table-device tbody img{
    width: 120px;
    margin: 10px auto;
    border-radius: 10px
}

.status-soldutout{
    padding: 5px 15px;
    background: #eb3b3b;
    color: #fff;
    border-radius: 16px;
}

.status-active {
    padding: 5px 15px;
    background: #124f7e;
    color: #fff;
    border-radius: 16px;
}