.wrap-info-user {
    color: #fff;
    padding: 20px 0;
}

.wrap-info-user input, section, option{
    color: #012a4a;
}



.wrap-info-user {
    background: #4d4d4d;
    border: none;
    border-radius: 24px;
}

.bluecol{
    color:#012a4a;
}

/*==========================*/
/*======== INFO USER =======*/
/*==========================*/

.wrap-info-user .avatar img{
    border: none;
    border-radius: 24px;
}

.wrap-info-user #uplaod{
    display: none;
}

.wrap-info-user .hello{
    width: fit-content;
    padding: 5px 15px;
    background: #f7a922;
    border-radius: 6px;
}

.head-infouser{
    display: flex;
    justify-content: space-between;
}

.btn-settinginfo {
    color: #d4d4d4;
    font-size: 14px;
}

.btn-settinginfo i{
    color: #d4d4d4;
    margin-right:5px;
}

.btn-settinginfo:hover{
    color: #dddddd !important;
}

.wrap-info-user .welcome {
    margin-left: 35px;
    font-size: 14px;
    font-style: italic;
}

.wrap-info-user .single-info{
    display: flex;
    height: 60px;
}

.wrap-info-user .address p{
    max-width: 160px;
    width: 100%;
}

/*==========================*/
/*==== CHANGE INFO USER ====*/
/*==========================*/

.wrap-info-user form.ChangeInfoUser {
    width: 100%;
}

.wrap-info-user .form-group{
    margin-top: 20px;
}

.wrap-info-user .btn-submit{
    display: flex;
    justify-content: center;
}

.wrap-info-user .btn-submit input{
    width: 90%;
    height: 37px;
    margin-top: 10px;
    margin-bottom: 18px;
    color:#fff;
    border: none;
    border-radius: 24px !important;
}

/*==========================*/
/*======= Receiption =======*/
/*==========================*/

.wrap-info-user h4.non-bill{
    text-align: center;
    color: #a3a3a3;
}

.receiption-conponent {
    padding: 15px;
}

.wrap-info-user table.table-receiption {
    width: 100%;
    background: #d8d8d8;
    border: none;
    border-radius: 16px;
}

.wrap-info-user table p{
    margin-bottom: 0 !important;
}

.wrap-info-user table.table-receiption .parent-body .parent-tr td{
    height: 30px;
}

.wrap-info-user table.table-receiption .parent-body .parent-tr:hover td {
    background: #bbbbbb;
}

.wrap-info-user table.table-receiption table.child-table{
    width: 100%;
}

.wrap-info-user .table-receiption table.child-table .child-tr td{
    height: 40px;
}

.wrap-info-user .table-receiption table.child-table .child-tr:hover td {
    background: #f8e2b8;
}

.wrap-info-user table thead{
    height: 50px;
}

.wrap-info-user table th, td{
    text-align: center;
    color: #012a4a;
}

.expandable-row {
    display: none;
}

.word-left {
    text-align: left;
}

.word-right {
    text-align: right;
}

/*==========================*/
/*===== FAVORITE DEVICE ====*/
/*==========================*/

h2.title-favorite{
    color:#fff;
    font-size: 24px;
}

.item-card {
    background-color: #565656;
    border-radius: 20px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item-card img{
    height: fit-content;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 20px 20px 0 0;
}

.item-card h3{
    width: 100%;
    margin: 23px 0;
    padding: 0 28px;
    text-align: center;
    color: white;
    font-size: 24px;
    white-space: nowrap; /* Ngăn ngừng xuống dòng */
    overflow: hidden; /* Ẩn nội dung vượt quá độ rộng */
    text-overflow: ellipsis; /* Hiển thị dấu "..." cho nội dung bị ẩn */
}

.item-card p{
    height: 48px;
    color: white;
    text-align: left;
    padding: 0 20px;
    font-size: 16px;
    margin: 15px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.item-card .icon-card{
    margin: 10px 0;
}

.item-card .icon-card .icon{
    width: 48px;
    height: 48px;
    border: none;
    margin: 15px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.item-card .icon-card .icon i{
    color: #012A4A;
    padding: 15px;
    border-radius: 50%;
    transition: all .25s ease-in;
}

.item-card .icon-card .icon:hover{
    rotate: 360deg;
    transition: all .25s ease-in;
}

.item-card .item-price h2{
    width: 230px;
    padding: 5px 20px;
    margin-bottom: 10px;
    font-size: 24px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 20px;
    text-align: center;
}

/*  @############ SOLD OUT CARD ############@ */

.sold-out-card {
    position: relative;
}

.sold-out-card p.sold-out{
    position: absolute;
    height: fit-content !important;
    padding: 3px 50px !important;
    background: #ea3a3a;
    color: #012a4a;
    transform: rotate(-45deg);
    font-size: 20px !important;
    font-weight: bolder;
    text-align:center;
    top: 18px;
    left: -45px;
    clip-path: polygon(21% 0, 77.7% 0, 96% 100%, 2.5% 100%);
}

/*===========================*/
/*===== CHANGE PASSWORD =====*/
/*===========================*/

.form-change-pass{
    width: fit-content;
    margin-left: 50px;
}

.change-pass {
    width: 450px;
    height: 120px;
}

.change-pass tr th{
    color:white;
    text-align:left;
}

.change-pass tr input{
    height: 32px;
    border: none;
    border-radius: 8px;
    padding: 0 8px; 
}

.form-change-pass .btn-change {
    margin-top: 20px;
}

.btn-change button{
    background: #012a4a;
    color: #fff;
    padding: 5px 30px;
    border: none;
    border-radius: 12px;
}