@model FlyBugClub_WebApp.Models.User


<div class="member-area edit-member">
    <div class="container">
        <form asp-action="Edit">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/img/img_user/IMG_0042.11.jpg" alt="Photo ueser"/>
                </div>
                <div class="col-md-9">
                    <h2 class="title-favorite">Infomation user</h2>
                    <hr style="width:100%;text-align:left;margin-left:0; color:#000; height: 2px; margin-top: 8px;">
                    <div class="row">
                        <div class="col">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="StudentId" />
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" readonly />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Gender" class="control-label"></label>
                                <input asp-for="Gender" class="form-control" readonly />
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Phone" class="control-label"></label>
                                <input asp-for="Phone" class="form-control" readonly />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" readonly />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" readonly />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Major" class="control-label"></label>
                                <input asp-for="Major" class="form-control" readonly />
                                <span asp-validation-for="Major" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Faculty" class="control-label"></label>
                                <input asp-for="Faculty" class="form-control" readonly />
                                <span asp-validation-for="Faculty" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImgUser" class="control-label"></label>
                                <input asp-for="ImgUser" class="form-control" readonly />
                                <span asp-validation-for="ImgUser" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PositionId" class="control-label"></label>
                                <select asp-for="PositionId" class="form-control" asp-items="@ViewBag.PositionSelectList"></select>
                                <span asp-validation-for="PositionId" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="display:none">
                                <label asp-for="Account" class="control-label"></label>
                                <input asp-for="Account" class="form-control" readonly />
                                <span asp-validation-for="Account" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Role</label>
                                <select id="" name="" class="form-control" >
                                    <option value="">Customer</option>
                                    <option value="">Admin</option>
                                </select>
                                <span asp-validation-for="Account" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-save" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</div>


