@page
@model LoginModel

@{
    //ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


<div class="screen">
    <div class="container">
        <div class="wraper-account">
            <div class="row">
                <div class="col-5">
                    <div class="wrap-content-account">
                        <img class="img-logo" src="~/img/img_logo/logo-E-W.png" />
                        <p class="title-content-account">Chào mừng đến FlyBug Club</p>
                        <div class="center line-symbol">
                            <hr style="width:50%;text-align:left; color:white; height: 2px; margin-left: 30px;">
                            <i class="fa-solid fa-angle-down"></i>
                            <hr style="width:50%;text-align:left; color:white; height: 2px; margin-right: 30px;">
                        </div>
                        <div class="center">
                            <form id="account" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-floating">
                                    <input asp-for="Input.Email" placeholder="Email" />
                                    @*<label asp-for="Input.Email" class="form-label"></label>*@
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-floating">
                                    <input asp-for="Input.Password" placeholder="Password" />
                                    @*<label asp-for="Input.Password" class="form-label"></label>*@
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div>
                                    <div class="checkbox">
                                        <div class="forgot-password">
                                            <a id="forgot-password" asp-page="./ForgotPassword">Quên mật khẩu?</a>
                                        </div>
                                        <label asp-for="Input.RememberMe" class="form-label remember">
                                            <input class="form-check-input" asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <div class="center">
                                    <button type="submit" class="submit">Login</button>
                                </div>
                                <div class="center">
                                    <p class="regs">
                                        Bạn chưa có tài khoản?
                                        <a class="register" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Đăng ký ngay!</a>
                                    </p>
                                </div>
                                @*<div>
                                    <p>
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                    </p>
                                    <p>
                                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                    </p>
                                </div>*@
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="content-login">
                        <img class="img-background" src="~/img/img_background/bg2.gif" />
                        <div class="content-on-background">
                            <p class="slogan-in-account"><span>CREATE</span> THE <span>TALENT</span> WITH YOUR <span>PASSION</span></p>
                            @*<div class="center">
                                <a class="btn-change-page-account">Đăng ký</a>
                            </div>*@
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
