<div class="home-part1">
            <div class="part1-content">
                <div class="content">
                    <h2>Phòng câu lạc bộ</h2>
                    <div class="center">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
            <img src="~/img/core_team/DSCF9475.jpg" alt="">
        </div>
        <div class="home-part2">
            <h2 class="a">Lorem Ipsum</h2>
            <div class="center">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
        <div class="home-part3">
            <div class="container">
                <div class="row">
                    <div class="col col-mg-6">
                        <div class="center">
                            <img src="~/img/core_team/DSCF9470.jpg" alt="Photo 2">
                        </div>
                    </div>
                    <div class="col col-mg-6">
                        <h2>Lorem Ipsum</h2>
                        <div class="center paragraph1">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                        <div class="center paragraph2">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-part4">
            <div class="container">
                <div class="row">
                    <div class="col col-mg-6">
                        <h2>Lorem Ipsum</h2>
                        <div class="center">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                    <div class="col col-mg-6">
                        <div class="center">
                            <video type="video/mp4" src="~/img/Video/Sequence 03.mp4" controls></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-part5">
            <div class="center">
                <h2>Ban chủ nhiệm</h2>
            </div>
            <div class="top-cards">
                <div class="center">
                    <div class="card">
                        <div class="center">
                            <img src="~/img/core_team/DSCF8796.jpg" alt="Photo 3">
                        </div>
                        
                        <h4>TS. LÊ ĐÌNH PHONG</h4>
                        <div class="center">
                            <div class="position">Trưởng khoa</div>
                        </div>
                        <p class="first">Học hàm – Học vị: Tiến sĩ</p>
                        <p>Lĩnh vực: Robotics và Giao tiếp Người-Máy</p>
                        <p>Email: phong.ledinh@hoasen.edu.vn</p>
                    </div>
                    <div class="card">
                        <div class="center">
                            <img src="~/img/core_team/DSCF8830.jpg" alt="Photo 3">
                        </div>
                        
                        <h4>THS. PHẠM HỒNG THANH</h4>
                        <div class="center">
                            <div class="position">Phó Trưởng Khoa</div>
                        </div>
                        <p class="first">Học hàm – Học vị: Thạc sĩ</p>
                        <p>Lĩnh vực: Khoa học máy tính</p>
                        <p>Email: thanh.phamhong@hoasen.edu.vn</p>
                    </div>
                </div>
            </div>
            <div class="bottom-card">
                <div class="center">
                    <div class="card">
                        <div class="center">
                            <img src="~/img/core_team/DSCF9451.jpg" alt="Photo 3">
                        </div>
                        
                        <h4>Đinh Quốc Cường</h4>
                        <div class="center">
                            <div class="position">Trường Ban</div>
                        </div>
                        <p class="first">Học hàm – Học vị: Sinh viên</p>
                        <p>Lĩnh vực: Robotics</p>
                        <p>Email: cuong.dq2897@sinhvien.hoasen.edu.vn</p>
                    </div>
                    <div class="card">
                        <div class="center">
                            <img src="~/img/core_team/DSCF9444.jpg" alt="Photo 3">
                        </div>
                        
                        <h4>Tạ Minh Đức</h4>
                        <div class="center">
                            <div class="position">Phó Ban Thường Trực</div>
                        </div>
                        <p class="first">Học hàm – Học vị: Sinh viên</p>
                        <p>Lĩnh vực: Robotics</p>
                        <p>Email: duc.tm1359@sinhvien.hoasen.edu.vn</p>
                    </div>
                    <div class="card">
                        <div class="center">
                            <img src="~/img/core_team/IMG_0042.jpg" alt="Photo 3">
                        </div>
                        
                        <h4>Nguyễn Quốc Duy</h4>
                        <div class="center">
                            <div class="position">Phó Ban</div>
                        </div>
                        <p class="first">Học hàm – Học vị: Sinh viên</p>
                        <p>Lĩnh vực: Phát triển Website</p>
                        <p>Email: duy.nq11127@sinhvien.hoasen.edu.vn</p>
                    </div>
                </div>
            </div>
        </div>